.error-popup{
    // position: absolute;
    width: 20%;
    padding: .5%;
    // background: #ec6b78;
    color:red;
    text-align: center;
    right: 1%;
    // Top:1%;
    // transition: all 0.4s ease;
    // box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75)
  
  }
  
  .success-popup{
    position: absolute;
    width: 20%;
    padding: .5%;
    background: #70a470;
    color: white;
    text-align: center;
    right: 1%;
    transition: all 0.4s ease;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  }